<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="eBayAPISoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="eBayAPISoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.ebay.com/wsapi" binding="basicHttpBinding"
                bindingConfiguration="eBayAPISoapBinding" contract="ServiceReference1.eBayAPIInterface"
                name="eBayAPI" />
        </client>
    </system.serviceModel>
</configuration>